*.iml
.gradle
/local.properties
.idea/
.gitignore
.DS_Store
/build
.gradle/
/captures
.externalNativeBuild
.cxx
local.properties
misc.xml
deploymentTargetDropDown.xml
render.experimental.xml
*.hprof
*.jks
*.keystore
captures/
.externalNativeBuild/
.cxx/
*.apk
output.json
*.log
